@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;


  color-scheme: light dark;
  color: #081508;
  background-color: #F6F6F6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.invertedRadius{
  background-image: radial-gradient(circle at 100% 100%, transparent 8px, #F6F6F6 8px);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #081508;
    background-color: #F6F6F6;
  }

}